.app {
  margin: 0;
  padding: 0;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.home {
  margin-right: 15px;
}

.btn_plus {
    margin-right: 15px;
}

